@import url(https://fonts.googleapis.com/css?family=Nunito);
#chat {
  font-family: 'Nunito', Helvetica;
  width: 90%;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.33, #a06ab1), color-stop(0.67, #645B7E));
  transition: all linear .2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed; }

.chatension {
  background: #29243F;
  width: 96%;
  margin: auto;
  top: 0px;
  right: 2px;
  left: 2px;
  bottom: 2px;
  position: absolute;
  overflow: auto; }

.chatensionLogo {
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 6px #6F629D, 0px 0px 0px #000, 1px 1px #6F629D;
  background-image: -webkit-linear-gradient(0deg, #1fada2 16.66667%, #1fad66 16.66667%, #1fad66 33.33333%, #8aad1f 33.33333%, #8aad1f 50%, #ad5a1f 50%, #ad5a1f 66.66667%, #ad361f 66.66667%, #ad361f 83.33333%, #ad1fad 83.33333%);
  background-image: linear-gradient(to right, #1fada2 16.66667%, #1fad66 16.66667%, #1fad66 33.33333%, #8aad1f 33.33333%, #8aad1f 50%, #ad5a1f 50%, #ad5a1f 66.66667%, #ad361f 66.66667%, #ad361f 83.33333%, #ad1fad 83.33333%);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-color: #645B7E;
  color: rgba(38, 32, 59, 0.8);
  text-align: center;
  border-bottom: 1px solid #111111;
  top: 0;
  position: fixed;
  font-size: 22px;
  line-height: 45px;
  margin-top: 0px;
  width: 86.4%; }

.chatensionNameBox {
  text-align: center; }

.chatensionNameInput, .chatensionMessageInput {
  -webkit-transition: all 0.30s ease-in-out;
  font-size: larger;
  outline: none;
  color: #FFFFFF;
  margin: auto;
  border: solid 1px #111;
  background: #332F3C;
  padding: 5px;
  box-shadow: 0 1px 2px rgba(161, 156, 156, 0.1) inset; }

.chatensionNameInput {
  width: 220px;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 100px; }

.chatensionNameInput:focus, .chatensionMessageInput:focus {
  box-shadow: 0 0 5px #6f629d;
  border: 1px solid #6f629d; }

.chatensionNameSubmitBtn, .chatensionMessageSubmitBtn {
  color: #FFF;
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid 1px #111;
  margin: auto;
  background: #443E59;
  box-shadow: #6f629d 0px 1px 0px inset, rgba(0, 0, 0, 0.298039) 0px 1px 1px;
  transition: background-color 0.5s ease; }

.chatensionNameSubmitBtn {
  font-size: larger;
  line-height: 1;
  padding: .6em .8em;
  width: 144px;
  border-radius: 5px; }

.chatensionNameSubmitBtn:hover, .chatensionMessageSubmitBtn:hover {
  box-shadow: #5b5080 0px 1px 0px inset, rgba(0, 0, 0, 0.298039) 0px 1px 1px;
  background-color: #322c46; }

.chatensionNameSubmitBtn:focus, .chatensionMessageSubmitBtn:focus {
  outline: none; }

.chatensionMessageList {
  margin-top: 50px;
  background: #29243F;
  margin-bottom: 60px; }

.chatensionMessageInput {
  width: 80%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.chatensionMessageSubmitBtn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  width: 12%;
  text-shadow: #6f629d 1px 1px 6px, black 0px 0px 0px, #6f629d 1px 1px;
  color: #2A2440; }

.chatensionMessageFormDiv {
  position: fixed;
  text-align: center;
  bottom: 2px;
  background: #29243F;
  width: 86%;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #29243f 70%);
  padding-top: 20px; }

.chatensionMessageForm {
  width: 100%; }

.chatensionMessage {
  margin: 5px 0 5px 10px;
  color: #ffffff; }

.chatensionMessageName span {
  font-weight: bold;
  color: #ffa13c; }

/* Arrow */
.chatensionArrowBox {
  border: 1px solid #1fad66;
  cursor: pointer;
  display: block;
  text-align: center;
  transform: rotate(90deg);
  width: 40px;
  border-left: none;
  top: 100px;
  width: 45px;
  background: #1fada2;
  height: 24px;
  position: fixed;
  left: 86.6%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: #58e1d6 1px 1px 0px inset, transparent 0px 1px 1px;
  transition: all linear .2s; }

.chatensionArrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  position: absolute;
  width: 0;
  top: 5px;
  left: 14px;
  width: 0px;
  text-shadow: 1px 1px 6px #6F629D, 0px 0px 0px #000, 1px 1px #6F629D; }

.chatensionArrowBox .chatensionArrow.dir-one {
  border-top: 10px solid #2d2745; }

.chatensionArrowBox .chatensionArrow.dir-two {
  border-bottom: 10px solid #2d2745; }
