<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/build_output/main.css">
  </head>
  <body>

    <section id="chat">
      
    </section>
      
    <script>var currentUrl = "{{currentUrl}}"</script>
    <script src="https://fb.me/react-with-addons-0.14.3.min.js"></script>
    <script src="https://fb.me/react-dom-0.14.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>\
    <script src="//js.pusher.com/3.0/pusher.min.js"></script>
    <script src="/build_output/chatContent.js"></script>
  </body>
</html>