<!DOCTYPE html>
<html>
  <head>
    <title>Chatension</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron">
      <p>a Google Chrome extension that lets you to chat on any site by creating a room using the current url. Chat with people on Reddit. Discuss the news on CNN. THE OPTIONS ARE ENDLESS. LOUD NOISES.</p>

      <button class="btn btn-success btn-lg">Download</button>

    </div>
  </body>
</html>